/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

 /* Dashboard styling and template */
 body {
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular'; 
  }

  h1, h2, h3, h4, h5 {
     font-weight: bold;
  }

  img.img-circle {
      margin-top: 20px;
      width: 50px;
      height: 50px;
  }
  
  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
    padding-left: 250px;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  
  
  /* Sidebar Styles */
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: none;
    /* color: #fff; */
    color: #FFF;
    /* background: rgba(255, 255, 255, 0.2); */
    background: #F0AD4E
  }
  
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }
  
  .sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
  
  .sidebar-nav>.sidebar-brand a {
    color: #999999;
  }
  
  .sidebar-nav>.sidebar-brand a:hover {
    color: #F0AD4E;
    background: none;
  }
  
  @media(min-width:768px) {
    #wrapper {
      padding-left: 0;
    }
    #wrapper.toggled {
      padding-left: 250px;
    }
    #sidebar-wrapper {
      width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #page-content-wrapper {
      padding: 20px;
      position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }

  /* Anchor tag in main body */
  a#menu-toggle {
      font-size: 36px;
      margin-top: 20px;
      margin-bottom: 10px; 
  }

  a#menu-toggle:hover{
    color: #F0AD4E;
}


/* Panels in dashboard */
.box-part{
    background:#FFF;
    padding:60px 10px;
    margin:30px 0px;
    border-radius:30px;
    border: solid thin #777777;

}
span.box-description{
    font-size:15px;
}
a.box-description{
  text-decoration:none; 
  color: #ff9900;
  border-bottom:2px solid #ff9900;
}
.text{
    margin:20px 0px;
}
.fa{
     color:#ff9900;
}
a.box-link{
    font-size:15px;
    
}
a.box-link:hover{
    color: #ff9900;
}
